doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
		meta(name='viewport' content='width=device-width')
		link(href="/dist/css/main.css" rel="stylesheet")
		title
			block title
	body
		.countainer
			.about
				.avatar
					img.avatar-img
				.name
					h1.name-h1 Аркадий Конопля
				.kto
					h3.kto-h3 Веб-разработчик
				.social
					.vk-social.icon-social вк
					.git-social.icon-social гит
					.linced-social.icon-social линкед ин
				.link-main
					.link.link-works Мои работы
					.link.link-about Обо Мне
					.link.link-blog Блог
			.auth-button Авторизация
			.about
				.form






